strict-peer-dependencies=false
enable-pre-post-scripts=true
link-workspace-packages=true
@sytechui:registry=https://registry.npmjs.org/
public-hoist-pattern[]=*tailwind-variants*
public-hoist-pattern[]=*framer-motion*
public-hoist-pattern[]=*@react-aria/interactions*
public-hoist-pattern[]=*@sytechui/theme*
