strict-peer-dependencies=false
enable-pre-post-scripts=true
@heroui:registry=http://47.129.52.72:40087/
public-hoist-pattern[]=*tailwind-variants*
public-hoist-pattern[]=*framer-motion*
public-hoist-pattern[]=*@react-aria/interactions*
public-hoist-pattern[]=*@heroui/theme*